select, option {
    font: -moz-pull-down-menu;
}

dd {
    cursor: default !important;
}

.main {
	border-radius: 6px;
}

.noteInput {
    font-size: 14px;
    background-color: #3c3c3c;
    color: white;
    width: 535px;
    border-style: solid;
    border-width: 1px;
    border-color: #090909;
    border-radius: 5px;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    display:block;
}

#note-div {
    display: block;
    background-color: #171818;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
    width: 555px;
}

.css-a2mncl {
    border-radius: 7px;
}

#scroll-to-bottom {
    color: #b1b1b1;
    cursor: pointer;
    font-size: 17px;
    margin-left: -16px;
    margin-top: 13px;
    font-weight: 700;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

#scroll-to-top {
    color: #b1b1b1;
    font-size: 17px;
    float: right;
    padding-top: 11px;
    cursor: pointer;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

.swal2-toast > .swal2-html-container {
    position: relative !important;
    margin-bottom: -70px !important;
    font-size: 19px !important;
}

#ban-button-div {
    color: #ff7c7c;
    font-size: 14px;
    padding-top: 4px;
    cursor: pointer;
}

#ban-divider {
    color: white;
    cursor: default;
}

#steam-id-label, #steam-id {
    color: rgb(88, 209, 255);
    font-weight: 800;
}

#vpn-toggle-label {
    position: absolute;
    margin-top: .5px;
    margin-left: 7px;
    font-size: 14px;
}

#avatar {
    width: 75px;
    padding: 10px;
    outline: 1px solid #8e8e8e;
    outline-offset: -10px;
}

#copy-steam-button {
    margin-left: 8px;
    cursor: pointer;
    color: white;
}

#top-servers {
    margin-left: 8px;
    color: white;
}

#chart-div {
    height: 660px;
}

#chart-select-div {
    width: 95%;
    margin: 0 auto;
    display: inline-block;
}

#chart-select {
    color: black;
    padding: 4px;
    font-weight: 600;
}

#chart-loading-label {
    cursor: default;
    font-weight: 600;
}

#template-toggle-box {
    transform: scale(1.5);
}

#template-toggle-label {
    position: absolute;
    margin-top: -2.1px;
    margin-left: 17px;
    font-size: 17px;
    font-weight: 600;
}

#additional-notes-label {
    font-weight: 600;
    display: block;
}

#eac-toggle-box {
    margin-left: 2px;
    margin-bottom: 25px;
}

#upload-label {
    display: block;
    cursor: default;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 19px;
}

#upload-field {
    padding-bottom: 14px;
}

#upload-button {
    display: none;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    background-color: #3c3c3c;
}

#upload-button-label {
    line-height: 30px;
}